@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.hidden {
  display: none;
}

.wrapper {
  background-color: #333333;
}

.full-screen {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.full-screen__body {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.full-screen__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.full-screen__columns {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
}

.column__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.column__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.column__rigth {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.set-time {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff99;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0 0 40px 0;
}

.set-time:last-child {
  margin: 0 0 0 0;
}

.set-time:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffff66;
  opacity: 0.8;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 0;
  top: 0;
  z-index: 4;
}

.timer__buttons {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
}

.button__play {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 65px;
  top: -95px;
  z-index: 6;
  cursor: pointer;
}

.button__play svg {
  width: 200px;
  height: 200px;
}

.button__pause {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 85px;
  top: -60px;
  z-index: 6;
  cursor: pointer;
}

.button__pause svg {
  width: 130px;
  height: 130px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}

.progress svg {
  width: 300px;
  height: 300px;
}

.progress-back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(height/2);
  z-index: 4;
}

.progress-front {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(height/2);
  z-index: 5;
}

.progress-front__circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
}

.time {
  position: relative;
  left: 0;
  top: 180px;
  font-size: 50px;
  color: #ffff99;
}

.set-video {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff99;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0 0 40px 0;
}

.set-video:last-child {
  margin: 0 0 0 0;
}

.set-video:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffff66;
  opacity: 0.8;
}

.help {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff99;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0 0 40px 0;
}

.help:last-child {
  margin: 0 0 0 0;
}

.help:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffff66;
  opacity: 0.8;
}
