// темный фон
$lightBgColor: #ffff99;
$lightTextColor: #333333;
$hoverLightBgColor: #ffff66;
$hoverLightTextColor: #333333;

// светлый фон
// $lightBgColor: #ffff99;
// $lightTextColor: #ffff99;

// вспомогательные стили для javaScript
.hidden {
    display: none;
}
